[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle\\taglist"]
	path = bundle\\taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle\\youcompleteme"]
	path = bundle\\youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle\\fugitive"]
	path = bundle\\fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle\\syntastic"]
	path = bundle\\syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle\\colors-solarized"]
	path = bundle\\colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle\\tabular"]
	path = bundle\\tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip
[submodule "bundle/python_mode"]
	path = bundle/python_mode
	url = git://github.com/klen/python-mode.git
[submodule "bundle/grep"]
	path = bundle/grep
	url = https://github.com/vim-scripts/grep.vim
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim
[submodule "bundle/systemverilog"]
	path = bundle/systemverilog
	url = git://github.com/WeiChungWu/vim-SystemVerilog.git
[submodule "bundle/svn"]
	path = bundle/svn
	url = https://github.com/vim-scripts/vcscommand.vim
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/fileline"]
	path = bundle/fileline
	url = https://github.com/bogado/file-line
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/emacsauto"]
	path = bundle/emacsauto
	url = https://github.com/vim-scripts/verilog_emacsauto.vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/verilog_systemverilog"]
	path = bundle/verilog_systemverilog
	url = https://github.com/vhda/verilog_systemverilog.vim.git
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/asterisk"]
	path = bundle/asterisk
	url = https://github.com/haya14busa/vim-asterisk
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "ctrlp"]
	path = ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
